.laser-flow-container {
  width: 100%;
  height: 100%;
  position: relative;
  pointer-events: none;
}

.laser-flow-children {
  position: absolute;
  inset: 0;
  z-index: 5;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  pointer-events: none;
}

.laser-flow-children > * {
  pointer-events: auto;
}
